<div sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')"  class="statistics-wrapper">
<div class="users-statistic-wrapper">
    <h4>Нови потребители</h4>
    <div class="statistic">
        <div class="stat-numbers">
            <h1>5</h1>
            <h6>Дневно</h6>
        </div>
        <div class="stat-numbers">
            <h1>15</h1>
            <h6>Седмично</h6>
        </div>
        <div class="stat-numbers">
            <h1>150</h1>
            <h6>Месечно</h6>
        </div>
    </div>
</div>
<div  class="trips-statistic-wrapper">
    <h4>Нови екскурзии</h4>
    <div class="statistic">
        <div class="stat-numbers">
            <h1>5</h1>
            <h6>Дневно</h6>
        </div>
        <div class="stat-numbers">
            <h1>15</h1>
            <h6>Седмично</h6>
        </div>
        <div class="stat-numbers">
            <h1>150</h1>
            <h6>Месечно</h6>
        </div>
    </div>
</div>
</div>