@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Euphoria+Script&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("/images/background-pic.png");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: 540px;
}

a{
    text-decoration-line: none;
}

.page-num{
    background: gray;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
}

.prev, .next, .first{
    color: white;
    opacity: 0.8;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 10px;
    font-size: 18px;
    text-align: initial;
}

h5 {
    margin: 10px;
}


button {
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}


header {
    display: flex;
    width: 70%;
    align-self: self-end;
    background: rgba(10, 10, 10, 0.2);
}

nav {
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;

}


.logo-wrapper {
    width: 30%;
}

.ul-nav {
    display: inline-flex;
    justify-content: start;
}

.ul-nav li {
    margin: 0px 13px;
    list-style: none;
}

.ul-nav a {
    text-decoration: none;
    color: white;
}

.ul-nav a:hover {
    cursor: pointer;
    padding: 5px;
    border-style: dotted;
    border-color: white;
    background-color: transparent;
    border-radius: 15%;
}

.sign-in {
    color: blue;
    margin-left: 5px;
}

.logo-pic {
    width: 108px;
    padding: 5px 20px;
}


.fa-angle-down {
    color: white;
}

.btn {
    background-color: #FF9900;
    color: white;
    border-radius: 10px;
    padding: 8px 27px;
    border: none;
    margin: 5px 5px;
}

.wide-btn {
    background-color: #FF9900;
    color: white;
    border-radius: 10px;
    padding: 8px 80px;
    border: none;
    margin: 0px 5px;
}

.bgr-wrapper {
    display: flex;
    flex-direction: row;
    height: 650px;
}

.searchbar-wrapper {
    display: flex;
    flex-direction: column;
    width: 39%;
    height: 110%;
    background: #CCCCCC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    top: -63px;
    opacity: 0.8;
    text-align: center;
}

#searchForm{
    display: flex;
    flex-direction: column;
}

.info-text-wrapper {
    width: 50%;
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    place-items: flex-start;
    position: relative;
    right: -30%;
    top: 25%;
}

.amazing-span {
    color: white;
    font-size: 40px;
}

.info-header {
    color: #FF9900;
    font-size: 25px;
}

.info {
    padding: 30px 5px;
    line-height: 13px;
    color: white;
    font-size: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    border: white;
    flex-wrap: wrap;
    width: 100px;
    height: 50%;
    background: white;
    border-radius: 15px;
    align-content: center;
    margin: 7px;
    justify-content: center;
}


.type-cards-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

@media screen and (max-width: 970px){

    .type-cards-wrapper{
        display: none;
    }
}

.type-container {
    align-self: center;
    width: 80%;
}

.type-container > select{
    border: 1px solid grey;
    padding: 7px;
    border-radius: 8px;
    margin-bottom: 11px;
}

.searchbar-headling {
    font-family: 'Euphoria Script', cursive;
    font-size: 40px;
    flex-wrap: wrap;
    font-weight: 50;
    padding: 10px 125px;
    margin: 5px;
    margin-top: 30px;
}

.explore-span {
    color: white;
    font-family: 'Euphoria Script', cursive;
}

.searchbar-wrapper {
    font-family: 'Comfortaa';
    color: #FFFFFF;
    width: 30%;
}

.fa-search-location {
    color: black;
}

.duration-container {
    display: flex;
   margin: 18px 0px;
    align-self: center;
}

input {
    height: 25px;
    border-radius: 8px;
    padding: 2px;
    border: 0.5px solid;
    border-color: grey;
}

.calendar-input {
    margin: 5px;
    width: 76px;
}

.duration-container {
    margin: 18px 0px;
}

.type-header {
    margin-bottom: 15px;
}

.type-h3 {
    color: #000000;
    font-size: 10px;
}

.search-btn-wrapper {
    margin-top: 45px;
}

.searchbar-headling {
    color: black;
}

.fa-mountain, .fa-ship, .fa-city, .fa-leaf {
    font-weight: 900;
    color: black;
    padding: 8px;
}

footer {
    background-color: black;
    height: 60px;
}

.log-out-div{
    align-self: self-start;
}

.exit-btn{
    background: transparent;
    border: none;
    font-size: 16px;
}

.dropdown {
    display: flex;
    flex-direction: row;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 48px;
    right: 41px;
    background-color: #f9f9f9;
    border-radius: 15px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 23px 16px;
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}

.profile-img {
    width: 29px;
    height: 29px;
}

.dropdown-wrapper {
    display: flex;
    flex-direction: row;
}

.dropdown-div {
    display: flex;
    flex-direction: row;
    place-items: center;
    margin-right: 10px;
}

.dropdown span {
    align-self: center;
    color: white;
    margin-right: 50px;
}

.dropdown-a {
    color: black;
    text-align: left;
}

.fa-heart, .fa-bell {
    font-size: 20px;
    margin-right: 5px;
    background: gray;
    border-radius: 25px;
    padding: 7px;
}

.fa-id-card, .fa-font-awesome-flag, .fa-cog, .fa-sign-out-alt, .fa-chart-line {
    color: darkolivegreen;
    margin-right: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    font-style: oblique;
}

hr {
    margin: 10px 0px;
    color: gainsboro;
}
.about-us-title{
    margin: 20px 0px;
}
.fa-bell:after{
    content: ".";
    color: red;
    font-size: 50px;
    position: absolute;
    top: -13px;
    right: 186px;
}

#full-size{
    display: flex;
    width: 100%;
    align-self: self-end;
    background: rgba(10, 10, 10, 0.2);
}

.error{
    padding: 7px;
    border-radius: 25px;
    background-color: rgba(255, 25, 10, 0.8);
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
    width: 90%;
    margin-left: 10px;
}

.unchecked{
    color: black;
}

#article-a{
    position: absolute;
    right: 5px;
    top: 7px;
}

.footer-ul{
    display: flex;
    flex-direction: row;
    color: gray;
    place-content: center;
    padding-top: 20px;
}

.footer-ul > li{
    list-style: none;
    padding: 0px 10px;
    border-right: 1px solid;

}

.footer-ul > li > form {
    margin-left: 60px;
}

.footer-ul > li > form > select {
    background: black;
    color: grey;
    margin-left: 5px;
}

.footer-ul > li > a{
    color: inherit;
    padding: 20px;
}

.no-match-p{
    font-size: 35px;
    margin: 50px;
    color: white;
}

.no-match-p > i{
    color: white;
    font-size: 30px;
    margin-right: 15px;
}
