.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    background: #CCCCCC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: -100px;
    opacity: 0.8;
    align-items: center;
}

#profile-main{
    width: 100%;
    height: 100%;
    display: flex;
}

.profile-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
    align-self: center;
    margin-bottom: 10px;
    text-align-last: center;
}

.profile-pic-wrapper{
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-self: center;
}

.table-wrapper > span{
    color: white;
    align-self: flex-start;
    margin: 20px 0px 9px 30px;
}

.sign-icon{
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

.profile-pic-wrapper img{
    object-fit: cover;
}

table{
    overflow: scroll;
    width: 105%;
}

.user-nav-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    color: darkgray;
    font-size: 15px;
    margin-bottom: 100px;
    margin-top: 80px;
}

.profile-a{
    color: black;
    opacity: 0.8;
    margin: 10px;
    font-size: 18px;
    align-self: self-start;
    letter-spacing: 1px;
    font-style: oblique;
}

.profile-a i{
    opacity: 0.8;
    margin-right: 14px;
    letter-spacing: 1px;
    font-style: oblique;
}

.new-trips-btn{
    background: transparent;
    border-radius: 10px;
    padding: 5px 30px;
    border-width: thin;
}

.statistics-wrapper{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-self: center;
}

.users-statistic-wrapper, .trips-statistic-wrapper{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    height: 100px;
}

.statistic{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.table-wrapper{
    color: gray;
    display: flex;
    flex-direction: column;
    width: 69%;
    align-items: center;
    padding: 20px;
}

.trips-table-wrapper{
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: justify;
    max-height: 200px;
    min-height: 200px;
    min-width: 95%;
    overflow: scroll;
    overflow-x: hidden;
}

td{
    color: black;
    margin: 5px;
    text-align: center;
    padding-right: 10px;
}

th{
    text-align: center;
}

td > i{
    color: black;
    margin-right: 5px;
}

h2 > span{
    padding-right: 5px;
}

.profile-picture{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.btn-td{
    display: flex;
    align-items: baseline;
}

.trips-table-wrapper::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.trips-table-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.trips-table-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
}
