<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <link rel="stylesheet" href="/css/about-us-style.css">
    <title>About us</title>
</head>
<body>
<header th:include="/fragments/fragment :: navbar" id="full-size"></header>
<main class="contacts-wrapper">
    <div class="about-us-content-wrapper">
    <h3 class="about-us-title" th:text="#{aboutUs}">About us</h3>
    <div class="articles-wrapper">
        <div class="article">
            <div>
                <i class="fas fa-leaf"></i>
            </div>
            <h4 class="about-us-title" th:text="#{aboutUs}">Mission</h4>
            <p class="about-us-p" th:text="#{aboutUsText}"></p>
        </div>
        <div class="article">
            <div>
            <i class="far fa-star"></i>
            </div>
            <h4 class="about-us-title" th:text="#{whoAreWe}">Who are we?</h4>
            <p class="about-us-p" th:text="#{whoAreWeText}"></p>
        </div>
        <div class="article">
            <div>
            <i class="fas fa-user-friends"></i>
            </div>
        <h4 class="about-us-title" th:text="#{ourTeam}">Our team</h4>
            <p class="about-us-p" th:text="#{ourTeamText}">The international community's High Representative in Bosnia, Christian Schmidt, warned earlier this week that the US-brokered peace agreement signed at the end of the war is at risk of collapsing unless action is taken to stop Serbian separatists.</p>
        </div>
    </div>
    <h3 class="about-us-title" th:text="#{contact}">Contact us</h3>
    <div class="contact-us-wrapper">
        <div class="contacts-wrapper">
            <div class="contact">
                <i class="fas fa-tty"></i>
                <h5>+359 885 59 59</h5>
            </div>
            <div class="contact">
                <i class="fas fa-at"></i>
                <h5>+to-do-bulgaria@gmail.com</h5>
            </div>
            <div class="contact">
                <i class="fas fa-map-marked-alt"></i>
                <h5>Sofia, 131th Str</h5>
            </div>
        </div>
        <div class="location-pic-wrapper">
            <img src="/images/gsmarena_004.jpg" alt="location-pic" />
        </div>
    </div>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer"></footer>
</body>
</html>