<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add-trips.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Add trip</title>
</head>
<body>
<header class="full-nav" th:include="/fragments/fragment :: navbar">
</header>

<main>
    <!-- multistep form -->
    <form id="msform">
      <fieldset id="input1-wrapper">
          <h2 class="fs-title">Create your trip</h2>
          <label>Region</label>
          <input type="text" name="region" placeholder="South Coast" />
          <label>Type</label>
          <select name="type" placeholder="Seaside" >
              <option>Seaside</option>
              <option>Mountain</option>
              <option>City</option>
              <option>Eco-friendly</option>
          </select>
          <label>Duration</label>
          <input type="number" name="duration" id="duration" placeholder="100" />
          <label>Pictures</label>
          <input type="file">
          <button type="button" name="next" class="btn nextBtn" onclick="secondFieldset()" value="Next">Next</button>
        </fieldset>
            <fieldset id="input2-wrapper" hidden>
          <h2 class="fs-title">Day 1</h2>
          <label>Town</label>
          <input type="text" name="townName" placeholder="Sofia" />
          <label>Breakfast</label>
         <input type="text" name="breakfastPlace" placeholder="Mekitsa&Coffee" />
          <label>Coffee</label>
          <input type="text" name="coffeePlace" placeholder="CoffeeBar" />
          <label>Hotel</label>
          <input type="text" name="hotel" placeholder="Grand Hotel Sofia" />
          <label>Dinner</label>
          <input type="text" name="dinnerPlace" placeholder="Blue House" />
          <label>Attractions</label>
          <input type="text" name="attractions" placeholder="National Palace of Culture"/>
       <!--TODO add interactive btn for jenerating more input field for additional attractions using js -->
     <button type="button" name="previous" class="btn" value="Previous" onclick="home()">Previous</button>
     <button type="button" name="previous" class="btn" value="Next" onclick="lastFildset()">Next</button>
      </fieldset>
        <fieldset id="input3-wrapper" hidden>
            <h2 class="fs-title">Details</h2>
            <label>Equipment</label>
            <textarea type="text" name="equipment" placeholder="Equipment"></textarea>
            <label>Must See Attractions</label>
            <textarea type="text" name="mustSee" placeholder="MustSee"></textarea>
            <label>Festivals information</label>
            <textarea type="text" name="festivals" placeholder="Rose Festival"></textarea>
            <label>Foto tips</label>
            <textarea type="text" name="equipment" placeholder="Fotographer tip"></textarea>
            <button type="button" name="previous" class="btn" value="Previous" onclick="secondFieldset()">Previous</button>
            <button type="button" name="previous" class="btn" value="Submit">Submit</button>
        </fieldset>
    </form>
    <script>
        function home(){
            document.getElementById("input1-wrapper").style.display = "block";
            document.getElementById("input2-wrapper").style.display = "none";
            document.getElementById("input3-wrapper").style.display = "none";
        }
        home();

        function secondFieldset(){
            document.getElementById("input1-wrapper").style.display = "none";
            document.getElementById("input2-wrapper").style.display = "block";
            document.getElementById("input3-wrapper").style.display = "none";
        }

        function lastFildset(){
            document.getElementById("input1-wrapper").style.display = "none";
            document.getElementById("input2-wrapper").style.display = "none";
            document.getElementById("input3-wrapper").style.display = "block";
        }

   let duration = document.getElementById("duration").innerHTML;

    </script>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>