<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/best-tripst-style.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>All Trips</title>
</head>
<body>

<header th:include="/fragments/fragment :: navbar" id="full-size">
</header>
<main>
    <h1 class="best-trips-header" th:text="#{allTrips}">Всички маршрути</h1>
    <div th:action="@{/trips/all}" th:method="get" th:object="${trips}" class="best-articles-wrapper">
        <div th:each="t : ${trips}" th:object="${t}" class="card-wrapper">
            <a id="article-a" th:href="@{/trips/favourite/{id}(id = *{id})}" th:method="get" class="fav-btn "><i class="far fa-heart"></i></a>
            <div  class="img-card-wrapper">
                <img th:src="*{url}">
            </div>
            <a th:href="@{/trips/{id}/details(id=*{id})}">
            <div class="text-card-wrapper">
                <h2><span th:text="*{startPoint}">Nesebar</span>, България</h2>
                <div class="rate-card-wrapper">
                    <h5> <span th:text="*{duration}">3</span> дни</h5>
                    <div class="rating">
                        <h5><i class="fas fa-star checked"></i></h5>
                        <h5><i class="fas fa-star checked"></i></h5>
                        <h5><i class="fas fa-star checked"></i></h5>
                        <h5><i class="fas fa-star checked"></i></h5>
                        <h5><i class="fas fa-star unchecked"></i></h5>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="pagination-btn-wrapper">
        <a class="first" th:if="${currentPage > 1}" th:href="@{'/trips/all/1'}" th:text="#{first}">First</a>
        <span class="first" th:unless="${currentPage > 1}" th:text="#{first}">First</span>
        <a class="prev" th:if="${currentPage > 1}" th:href="@{'/trips/all/' + ${currentPage - 1}}" th:text="#{previous}">Previous</a>
        <span class="prev" th:unless="${currentPage > 1}" th:text="#{previous}">Previous</span>
        <span class="prev" th:each="i: ${#numbers.sequence(1, totalPages)}">
               <a class="page-num" th:if="${currentPage != i}" th:href="@{'/trips/all/' + ${i}}">[[${i}]]</a>
                    <span class="prev" th:unless="${currentPage != i}">[[${i}]]</span>
                </span>
        </div>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>