<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Auth Home</title>
</head>
<body>
<div class="modal" id="myModal"></div>
<header th:include="/fragments/fragment :: navbar">
</header>
<main>
    <div class="bgr-wrapper">
        <div class="searchbar-wrapper">
            <h3 class="searchbar-headling"><span class="explore-span">Explore</span> your destinations</h3>
            <div class="search-container">
                <h5>Search destination</h5>
                <input type="text" name="search" placeholder="Search location">
            </div>
            <div class="duration-container">
                <div class="start-date-wrapper">
                    <h5>Start</h5>
                    <input class="calendar-input" type="date" placeholder="calendar">
                </div>
                <div class="end-date-wrapper">
                    <h5>Finish</h5>
                    <input class="calendar-input" type="date" placeholder="calendar">
                </div>
            </div>
            <div class="type-container">
                <h5 class="type-header">Choose type</h5>
                <div class="type-cards-wrapper">
                    <div class="card">
                        <a><i class="fas fa-mountain"></i></a>
                        <h3 class="type-h3">Mountain</h3>
                    </div>
                    <div class="card">
                        <a><i class="fas fa-ship"></i></a>
                        <h3 class="type-h3">Seaside</h3>
                    </div>
                    <div class="card">
                        <a><i class="fas fa-city"></i></a>
                        <h3 class="type-h3">City</h3>
                    </div>
                    <div class="card">
                        <a><i class="fas fa-leaf"></i></a>
                        <h3 class="type-h3">Eco-friendly</h3>
                    </div>
                </div>
            </div>
            <div class="search-btn-wrapper">
                <button class="wide-btn btn">Search</button>
            </div>
        </div>
        <div class="bg-container">
            <div class="info-text-wrapper">
                <h3 class="info-header"><span class="amazing-span">Amazing</span> destinations</h3>
                <p class="info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit quo doloribus quidem.
                    Aperiam, maiores ab repudiandae debitis aliquam voluptatum saepe consectetur iure. Assumenda,
                    praesentium consectetur voluptate ex aperiam aliquam vero!</p>
                <button class="wide-btn btn">Find trips</button>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/fragment :: footer">
    </footer>
    </div>
</main>
</body>
</html>
