<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/best-tripst-style.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Best Trips</title>
</head>
<body>

<header th:include="/fragments/fragment :: navbar" id="full-size">
</header>
<main >
    <h1 class="best-trips-header" th:text="#{bestTrips}">Топ маршрути</h1>
    <div th:action="@{/trips/best}" th:method="get" th:object="${bestTrips}" class="best-articles-wrapper">
        <div th:each="t : ${bestTrips}" th:object="${t}" class="card-wrapper">
            <a id="article-a" th:href="@{/trips/favourite/{id}(id = *{id})}" th:method="get" class="fav-btn "><i class="far fa-heart"></i></a>
                <div  class="img-card-wrapper">
                    <img th:src="*{url}">
                </div>
                <a th:href="@{/trips/{id}/details(id=*{id})}">
                <div class="text-card-wrapper">
                    <h2 ><span th:text="*{startPoint}">Несебър</span>, България</h2>
                    <div class="rate-card-wrapper">
                        <h5> <span th:text="*{duration}">3</span> дни</h5>
                        <div class="rating">
                            <h5><i class="fas fa-star"></i></h5>
                        <h5><i class="fas fa-star"></i></h5>
                        <h5><i class="fas fa-star"></i></h5>
                        <h5><i class="fas fa-star"></i></h5>
                        <h5><i class="fas fa-star"></i></h5>
                       </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>