<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/details-style.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Details page</title>
</head>
<body>
<header id="full-nav" th:include="/fragments/fragment :: navbar">
</header>
<main>
    <div class="cover-wrapper">

        <div class="cover-pic-wrapper">
            <img src="/images/cover.jpg"></img>
        </div>
        <div class="cover-text-wrapper">
            <div class="rating-wrapper">
                <h2>Nesebar, Bulgaria</h2>
                <h5><i class="fas fa-star"></i></h5>
                <h5><i class="fas fa-star"></i></h5>
                <h5><i class="fas fa-star"></i></h5>
                <h2>(11)</h2>
            </div>
            <div class="duration-wrapper">
                <div class="duration">
                    <h3 class="type-h3"><i class="fas fa-mountain"></i> Mountain</h3>
                </div>
                <div class="days">
                    <h3 class="type-h3"><i class="fas fa-clock"></i> 3 days</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="info-wrapper">
        <div class="info-pictures-wrapper">
            <div class="big-image">
                <img src="/images/733-8752.jpg"></img>
            </div>
            <div class="small-images-wrapper">
                <div class="small-image">
                    <img src="/images/733-8752.jpg"></img>
                </div>
                <div class="small-image">
                    <img src="/images/733-8752.jpg"></img>
                </div>
                <div class="small-image">
                    <img src="/images/733-8752.jpg"></img>
                </div>
            </div>
        </div>
        <div class="info-text-wrapper-p">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit quo illum, repudiandae
                quos perferendis necessitatibus pariatur ratione sint odit temporibus molestias! Amet illum voluptatem
                ad maxime rem laborum delectus eos nisi at magnam velit, quisquam inventore quae, est explicabo
                accusantium doloremque tenetur corporis architecto saepe libero! Et, suscipit dolore!</p>
        </div>

    </div>
    <div class="plan-wrapper">
        <h2>Plan</h2>
        <hr>
        <div class="map-wrapper">
            <div class="plan-wrapper">
                <div class="weather-calendar">
                    <article class="box weather">
                        <div class="icon bubble black">
                            <div class="spin">
                                <img src="https://dl.dropbox.com/s/0qq5anxliaopt8d/sun.png">
                            </div>
                        </div>
                        <h1>Monday</h1>
                        <span class="temp">23&deg;</span>
                        <span class="high-low">15&deg;/ 28&deg;</span>
                    </article>
                    <article class="box weather">
                        <div class="icon bubble black">
                            <div class="spin">
                                <img src="/images/rainy.png">
                            </div>
                        </div>
                        <h1>Tuesday</h1>
                        <span class="temp">27&deg;</span>
                        <span class="high-low">10&deg;/ 29&deg;</span>
                    </article>
                    <article class="box weather">
                        <div class="icon bubble black">
                            <div class="spin">
                                <img src="/images/Cloudy-icon.png">
                            </div>
                        </div>
                        <h1>Wednesday</h1>
                        <span class="temp">23&deg;</span>
                        <span class="high-low">15&deg;/ 28&deg;</span>
                    </article>
                    <article class="box weather">
                        <div class="icon bubble black">
                            <div class="spin">
                                <img src="https://dl.dropbox.com/s/0qq5anxliaopt8d/sun.png">
                            </div>
                        </div>
                        <h1>Monday</h1>
                        <span class="temp">23&deg;</span>
                        <span class="high-low">15&deg;/ 28&deg;</span>
                    </article>
                    <article class="box weather">
                        <div class="icon bubble black">
                            <div class="spin">
                                <img src="https://dl.dropbox.com/s/0qq5anxliaopt8d/sun.png">
                            </div>
                        </div>
                        <h1>Monday</h1>
                        <span class="temp">23&deg;</span>
                        <span class="high-low">15&deg;/ 28&deg;</span>
                    </article>
                </div>
                <div class="day-plan-wrapper">
                    <div class="plan-bullet">
                        <div class="bullet">
                            <img src="/images//grean-dot.png"></img>
                            <h5>Coffe Place</h5>
                            <h6>bul.fslfms.fksof</h6>
                            <h6>link to booking</h6>
                        </div>
                        <div class="bullet">
                            <img src="/images//grean-dot.png"></img>
                            <h5>Coffe Place</h5>
                            <h6>bul.fslfms.fksof</h6>
                            <h6>link to booking</h6>
                        </div>
                        <div class="bullet">
                            <img src="/images//grean-dot.png"></img>
                            <h5>Coffe Place</h5>
                            <h6>bul.fslfms.fksof</h6>
                            <h6>link to booking</h6>
                        </div>
                        <div class="bullet">
                            <img src="/images//grean-dot.png"></img>
                            <h5>Coffe Place</h5>
                            <h6>bul.fslfms.fksof</h6>
                            <h6>link to booking</h6>
                        </div>
                        <div class="bullet">
                            <img src="/images//grean-dot.png"></img>
                            <h5>Coffe Place</h5>
                            <h6>bul.fslfms.fksof</h6>
                            <h6>link to booking</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-pic-wrapper">
                <img src="/images/map.png"></img>
            </div>
        </div>
    </div>
    <div class="details-wrapper">
        <h2>Details</h2>
        <hr>
        <div class="details-wrapper">
            <div class="details-bullet">
                <div class="details bullet">
                    <img src="/images//grean-dot.png"></img>
                    <h5>Equipment</h5>
                    <h6>bul.fslfms.fksof</h6>
                    <h6>link to booking</h6>
                </div>
                <div class="details bullet">
                    <img src="/images//grean-dot.png"></img>
                    <h5>Foto tips</h5>
                    <h6>The equipment you need Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio,
                        maxime.</h6>
                    <h6>link to booking</h6>
                </div>
                <div class="details bullet">
                    <img src="/images//grean-dot.png"></img>
                    <h5>Festivals</h5>
                    <h6>bul.fslfms.fksof</h6>
                    <h6>link to booking</h6>
                </div>
                <div class="details bullet">
                    <img src="/images//grean-dot.png"></img>
                    <h5>Coffe Place</h5>
                    <h6>bul.fslfms.fksof</h6>
                    <h6>link to booking</h6>
                </div>
                <div class="details bullet">
                    <img src="/images//grean-dot.png"></img>
                    <h5>Coffe Place</h5>
                    <h6>bul.fslfms.fksof</h6>
                    <h6>link to booking</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="comments-container">
        <h2>Comments</h2>
        <hr>
        <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img
                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                    <!-- Main comment -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Gosho Georgiev</a>
                            </h6>
                            <span>19 Dec, 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                            laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </div>
                <!-- Comments answers -->
                <ul id="comments-ul" class="comments-list reply-list">
                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar"><img
                                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt="">
                        </div>
                        <!-- Inner comment answer -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="http://creaticode.com/blog">Pesho Petrov</a></h6>
                                <span>19 Dec, 2021</span>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                                laudantium vitae, praesentium optio, sapiente distinctio illo?
                            </div>
                        </div>
                    </li>

                    <li>
                        <!-- Avatar -->
                        <div class="comment-avatar"><img
                                src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt="">
                        </div>
                        <!-- Main comment -->
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Gosho
                                    Georgiev</a></h6>
                                <span>19 Dec, 2021</span>
                                <i class="fa fa-reply"></i>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                                laudantium vitae, praesentium optio, sapiente distinctio illo?
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <div class="comment-main-level">
                    <div class="comment-avatar"><img
                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">Pesho Petrov</a></h6>
                            <span>19 Dec, 2021</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure
                            laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="comment-form">
        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                         alt=""></div>
        <form class="comment-box">
            <input type="text" placeholder="Write your comment here..."></input>
            <button class="btn">Send</button>
        </form>
    </div>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>