<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/details-style.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Details page</title>
    <link rel="stylesheet" href="../static/css/details-style.css">
</head>
<body>
<header id="full-nav" th:include="/fragments/fragment :: navbar">
</header>
<main>
    <div th:object="${trip}">
    <div class="cover-wrapper">
        <div class="cover-pic-wrapper">
            <img src="/images/cover.jpg">
        </div>
        <div class="cover-text-wrapper">
            <div class="rating-wrapper">
                <h2><span th:text="*{townName}">Nesebar</span>, България</h2>
                <h5><i class="fas fa-star"></i></h5>
                <h5><i class="fas fa-star"></i></h5>
                <h5><i class="fas fa-star"></i></h5>
                <h2>(11)</h2>
            </div>
            <div class="duration-wrapper">
                <div class="duration">
                    <h3 class="type-h3"><i class="fas fa-mountain"></i> <span th:text="*{categoryName}">Mountain</span></h3>
                </div>
                <div class="days">
                    <h3 class="type-h3"><i class="fas fa-clock"></i><span th:text="*{duration}">1</span> days</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="info-wrapper">
        <div class="info-pictures-wrapper">
            <div class="big-image">
                <img th:src="*{url}">
            </div>
            <div class="small-images-wrapper">
                <div class="small-image">
                    <img src="/images/733-8752.jpg">
                </div>
                <div class="small-image">
                    <img src="/images/733-8752.jpg">
                </div>
                <div class="small-image">
                    <img src="/images/733-8752.jpg">
                </div>
            </div>
        </div>
        <div class="info-text-wrapper-p">
            <p th:value="*{description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit quo illum, repudiandae
                quos perferendis necessitatibus pariatur ratione sint odit temporibus molestias! Amet illum voluptatem
                ad maxime rem laborum delectus eos nisi at magnam velit, quisquam inventore quae, est explicabo
                accusantium doloremque tenetur corporis architecto saepe libero! Et, suscipit dolore!</p>
        </div>
    </div>
    <div class="plan-wrapper">
        <h2>Plan</h2>
        <hr>
        <div class="map-wrapper">
            <div class="plan-wrapper">
                <div class="weather-calendar">
                    <article th:each="w : ${weather}" th:object="${w}" class="box weather" >
                        <div  class="icon bubble black">
                            <div class="spin">
                                <img src="https://dl.dropbox.com/s/0qq5anxliaopt8d/sun.png">
                            </div>
                        </div>
                        <h1 th:text="*{weekDay}">Monday</h1>
                        <span class="temp"><span> <span th:text="*{temperature.intValue()}">23</span></span>&deg;</span>
                        <span class="high-low" ><span th:text="*{maxTemperature.intValue()}">15</span>&deg;/ <span th:text="*{minTemperature.intValue()}">28</span>&deg;</span>
                    </article>
                </div>
                <div  class="day-plan-wrapper">
                    <div th:each="i : ${trip.itinaries}" th:object="${i}" class="plan-bullet">
                       <h1>Day <span th:text="*{day}">1</span></h1>
                        <h1><span th:text="*{townName}">TownName</span></h1>
                        <div class="bullet">
                            <img src="/images/grean-dot.png">
                            <h5 th:text="*{coffeePlace}" >Coffe Place</h5>
                            <span class="update-span" th:text="*{coffeePlaceAddress}">Add address</span>
                            <a class="update-span" th:href="*{coffeePlaceBookingUrl}" >Book here</a>
                        </div>
                        <div class="bullet">
                            <img src="/images/grean-dot.png">
                            <h5 th:text="*{breakfastPlace}">Coffe Place</h5>
                            <span class="update-span" th:text="*{breakfastPlaceAddress}">Add address</span>
                            <a class="update-span" th:href="*{breakfastPlaceBookingUrl}" >Book here</a>
                        </div>
                        <div class="bullet">
                            <img src="/images/grean-dot.png">
                            <h5 th:text="*{dinnerPlace}">Coffe Place</h5>
                            <span class="update-span" th:text="*{dinnerPlaceAddress}">Add address</span>
                            <a class="update-span" th:href="*{dinnerPlaceBookingUrl}" >Book here</a>
                        </div>
                        <div class="bullet">
                            <img src="/images/grean-dot.png">
                            <h5 th:text="*{hotel}">Coffe Place</h5>
                            <span class="update-span" th:text="*{hotelAddress}">Add address</span>
                            <a class="update-span" th:href="*{hotelBookingUrl}" >Book here</a>
                        </div>
                        <div class="bullet">
                            <img src="/images/grean-dot.png">
                            <h5 th:text="*{attractionName}">Coffee Place</h5>
                        </div>
                        <button class="btn" sec:authorize="isAuthenticated()"> <a class="uprate-a" th:href="@{'/itinerary/' + *{id} + '/edit'}" th:method="get">Add address/Add booking</a></button>
                    </div>
                </div>
            </div>
            <div class="map-pic-wrapper">
                <img src="/images/map.png">
            </div>
        </div>
    </div>
    <div class="details-wrapper">
        <h2>Details</h2>
        <hr>
        <div class="details-wrapper">
            <div class="details-bullet">
                <div  class="details bullet">
                    <img src="/images/grean-dot.png">
                    <h5>Equipment</h5>
                    <h6 th:text="*{details.equipment}">bul.fslfms.fksof</h6>
                </div>
                <div  class="details bullet">
                    <img src="/images/grean-dot.png">
                    <h5>Foto tips</h5>
                    <h6 th:text="*{details.fotoTips}">The equipment you need Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio,
                        maxime.</h6>
                </div>
                <div class="details bullet">
                    <img src="/images/download.png">
                    <h5>Festivals</h5>
                    <h6 th:text="*{details.festivals}">bul.fslfms.fksof</h6>
                </div>
            </div>
        </div>
    </div>
        <div th:replace="/fragments/fragment :: commnets-container"></div>
        <div th:replace="/fragments/fragment :: comment-form"></div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>