<header>
    <nav class="nav">
        <div class="logo">
            <img class="logo-pic" src="/images/logo.jpg"></img>
        </div>
        <div class="links-wrapper">
            <button class="home-btn">Home</button>
            <button class="about-us-btn">About us</button>
            <button class="popular-trips-btn">Popular trips</button>
        </div>
        <div class="profile-icon-container">
            <button class="login-btn btn" class="open-button" onclick="openForm()">Log in</button>
            <div class="form-popup" id="myForm">
                <div class="img-wrapper">
                    <img class="login-img" src="/images//login-img.jfif"></img>
                </div>
                <form action="/action_page.php" class="form-container">
                    <h1 class="login-h1">Login</h1>
                    <label for="email"><b>Username</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                    <h7 class="sign-in-href">You don't have an account?<a href="/register.html">Sign in</a></h7>
                    <button type="submit" class="btn wide-btn">Login</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
            <button class="logout-btn btn">Logout</button>
        </div>
        </div>
        </div>
    </nav>
</header>