<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Login page</title>
</head>
<body id="darker-bgr">
<header id="full-size" th:include="fragments/fragment :: navbar">
</header>
<main>
    <div class="form" id="myForm">
        <div class="img-wrapper">
            <img class="login-img" src="/images/register-pic.jpg">
        </div>
        <form th:action="@{/users/login}" method="post" class="form-container">
            <h1 class="login-h1" th:text="#{login}">Login</h1>
            <p th:if="${bad_credentials}" class="error" th:text="#{invalidLogin}">
                Invalid username or password.
            </p>
                <label for="username" th:text="#{username}"><b>Username</b></label>
            <input th:value="${username}" id="username" type="text" placeholder="Enter username" name="username" required>
                <label for="password" th:text="#{password}"><b>Password</b></label>
            <input  id="password" type="password" placeholder="Enter Password" name="password" required>
            <h7 class="sign-in-href">You don't have an account?<a class="sign-in" th:href="@{/users/register}">Sign in</a></h7>
            <button type="submit" class="btn wide-btn" th:text="#{login}">Login</button>
        </form>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>