<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <link rel="stylesheet" href="/css/profile-style.css">
    <title>Landing Page</title>
</head>
<body >
<header th:include="/fragments/fragment :: navbar" >
</header>
<main id="profile-main">
    <div class="profile-wrapper">
        <div th:action="@{/profile}" th:method="get" th:object="${user}" class="profile">
       <div class="profile-wrapper">
           <div class="profile-pic-wrapper">
               <img class="profile-picture" th:src="*{profilePictureUrl}" >
           </div>
       </div>
            <h2><span th:text="*{firstName}">Pesho</span><span th:text="*{lastName}"></span></h2>
        <div class="user-nav-wrapper">
            <button sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')" class="profile-a new-trips-btn" th:href="@{/profile/new}"><i class="far fa-address-card"></i>Моята профил</button>
<!--            <a sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')" class="profile-a" th:href="@{/profile}"><i class="fas fa-id-card"></i>Профил</a>-->
<!--            <a sec:authorize="isAuthenticated()" class="profile-a"  th:href="@{/profile/favourite}" onclick="showFavouriteTrips()"><i class="fab fa-font-awesome-flag" ></i> Любими маршрути</a>-->
<!--            <a sec:authorize="isAuthenticated()" class="profile-a" th:href="@{/profile/my-trips}" onclick="hideFavouriteTrips()"><i class="fab fa-font-awesome-flag"></i> Моите маршрути</a>-->
            <a sec:authorize="isAuthenticated()" class="profile-a"><i class="fas fa-cog"></i>Настройки</a>
            <form class="log-out-div" th:action="@{/users/logout}" th:method="post">
                <button class="profile-a exit-btn"><i class="fas fa-sign-out-alt"></i>Exit</button>
            </form>
        </div>
        </div>
    </div>
            <div class="table-wrapper">
<th:block th:if="${userTrips != null}">
    <h1 class="table-h1">Моите маршрути</h1>
<div class="trips-table-wrapper">

    <table th:action="@{/profile/my-trips}" th:method="get" th:object="${userTrips}">
        <tr>
            <th>Екскурзия</th>
            <th>Продължителност</th>
            <th>Тип</th>
            <th>Действие</th>
        </tr>
        <tr th:each="t : ${userTrips}" th:object="${t}">
            <td><span th:text="*{townName}">Белоградчик</span>, България</td>
            <td><i class="far fa-clock"></i> <span th:text="*{duration}">3</span> дни</td>
            <td  th:field="*{categoryName}"><img src="/images/Group%20560.png">Seaside</td>
            <td class="btn-td" sec:authorize="isAuthenticated()"> <form th:action="@{/trips/{id}/delete(id=*{id})}" th:method="delete"><button class="new-trips-btn">Изтрий</button></form><a th:href="@{/trips/{id}/details(id=*{id})}"> <button class="btn" type="button">Детайли</button></a></td>
        </tr>
    </table>
</div>
    <div class="trips-table-wrapper">
        <h1 class="table-h1">Любими маршрути</h1>
    <table id="favourite-trips"  th:method="get" th:object="${userFavouriteTrips}">
        <tr>
            <th>Екскурзия</th>
            <th>Продължителност</th>
            <th>Тип</th>
            <th>Действие</th>
        </tr>
        <tr  th:each="t : ${userTrips}" th:object="${t}">
            <td><span th:text="*{townName}">Белоградчик</span>, България</td>
            <td><i class="far fa-clock"></i> <span th:text="*{duration}">3</span> дни</td>
            <td  th:field="*{categoryName}"><img src="/images/Group%20560.png"></i>Seaside</td>
            <td  sec:authorize="isAuthenticated()"><a th:href="@{/trips/{id}/details(id=*{id})}"> <button class="wide-btn" type="button">Детайли</button></a></td>
        </tr>
    </table>
    </div>
</th:block>
</div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
