<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <link rel="stylesheet" href="/css/profile-style.css">
    <title>Landing Page</title>
</head>
<body >
<header th:include="/fragments/fragment :: navbar" >
</header>
<main id="profile-main">
    <div class="profile-wrapper">
        <div th:action="@{/profile}" th:method="get" th:object="${user}" class="profile">
       <div class="profile-wrapper">
           <div class="profile-pic-wrapper">
               <img class="profile-picture" th:src="*{profilePictureUrl}" >
           </div>
       </div>
            <h2><span th:text="*{firstName}">Pesho</span><span th:text="*{lastName}"></span></h2>
        <div class="user-nav-wrapper">
            <button sec:authorize="isAuthenticated()" class="profile-a new-trips-btn" th:href="@{/profile/new}" ><i class="far fa-address-card" th:text="#{myProfile}"></i></button>
            <a sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')" class="profile-a" th:href="@{/admin}" ><i class="fas fa-id-card" th:text="#{stats}"></i></a>
            <a sec:authorize="isAuthenticated()" class="profile-a" ><i class="fas fa-cog"th:text="#{settings}" ></i></a>
            <form class="log-out-div" th:action="@{/users/logout}" th:method="post">
                <button class="profile-a exit-btn" ><i class="fas fa-sign-out-alt" th:text="#{logout}"></i></button>
            </form>
        </div>
        </div>
    </div>

            <div class="table-wrapper">
<th:block th:if="${userTrips.size() > 0}">
                <span th:text="#{myTrips}">Моите маршрути</span>
<div class="trips-table-wrapper">

    <table th:action="@{/profile/my-trips}" th:method="get" th:object="${userTrips}">
        <tr>
            <th th:text="#{trip}">Екскурзия</th>
            <th th:text="#{duration}">Продължителност</th>
            <th th:text="#{types}">Тип</th>
            <th th:text="#{action}">Действие</th>
        </tr>
        <tr th:each="t : ${userTrips}" th:object="${t}">
            <td><span th:text="*{startPoint}">Белоградчик</span>, България</td>
            <td><i class="far fa-clock"></i> <span th:text="*{duration}">3</span> дни</td>
            <td><img class="sign-icon" src="/images/Group%20560.png"><span th:text="*{categoryName.toLowerCase()}">Seaside</span></td>
            <td class="btn-td" sec:authorize="isAuthenticated()"> <form th:action="@{'/trips/' + *{id} + '/delete'}" th:method="delete"><button class="new-trips-btn">Изтрий</button></form><a th:href="@{/trips/{id}/details(id=*{id})}"> <button class="btn" type="button">Детайли</button></a></td>
        </tr>
    </table>
</div>
</th:block>
    <th:block th:if="${userFavouriteTrips.size() > 0}">
    <span th:text="#{favouriteTrips}">Любими маршрути</span>

    <div class="trips-table-wrapper">
    <table id="favourite-trips"  th:object="${userFavouriteTrips}">
        <tr>
            <th th:text="#{trip}">Екскурзия</th>
            <th th:text="#{duration}">Продължителност</th>
            <th th:text="#{types}">Тип</th>
            <th th:text="#{action}">Действие</th>
        </tr>
        <tr  th:each="t : ${userFavouriteTrips}" th:object="${t}">
            <td><span th:text="*{startPoint}">Белоградчик</span>, България</td>
            <td><i class="far fa-clock"></i> <span th:text="*{duration}">3</span> дни</td>
            <td><img class="sign-icon" src="/images/Group%20560.png"><span th:text="*{categoryName.toLowerCase()}">Seaside</span></td>
            <td  sec:authorize="isAuthenticated()"><a th:href="@{/trips/{id}/details(id=*{id})}"> <button class="wide-btn" type="button">Детайли</button></a></td>
        </tr>
    </table>
</div>
        </th:block>
    </div>>
</div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
