<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css//login-style.css">
    <link rel="stylesheet" href="/css//landing-page-style.css">
    <title>Register Page</title>
</head>
<body>
<header  id="full-size">
    <div class="logo-wrapper">
        <img class="logo-pic" src="/images/logo.jpg" alt="logo">
    </div>
    <nav>
        <ul class="ul-nav">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#">Popular trips</a>
            </li>
        </ul>
        <div>
            <button class="login-btn btn">Log in</button>
            <button class="logout-btn btn">Logout</button>
        </div>
    </nav>
</header>
<main>

    <div class="form" id="myForm">
        <div class="img-wrapper">
            <img class="login-img" src="/images//register-pic.jpg"></img>
        </div>
        <form action="/users/register" class="form-container">
            <h1 class="login-h1">Register</h1>
            <label for="username"><b>Username</b></label>
            <input id="username" type="text" placeholder="Enter username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input id="password" type="password" placeholder="Enter Password" name="password" required>

            <label for="confirmPassword"><b>Confirm password</b></label>
            <input id="confirmPassword" type="confirmPassword" placeholder="Enter confirm password" name="confirmPassword" required>

            <button type="submit" class="btn wide-btn">Register</button>
        </form>
    </div>
</main>
<footer>
    <p>Wish me luck</p>
</footer>
</body>
</html>