<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/add-trips.css">
    <link rel="stylesheet" href="/css/landing-page-style.css">
    <title>Update trip</title>
</head>
<body>
<header class="full-nav" th:include="/fragments/fragment :: navbar">
</header>
<main>
    <form  th:action="@{'/itinerary/' + *{id} + '/edit'}" th:method="patch" th:object="${itineraryModel}">
        <div id="msform">
        <fieldset id="update-fieldset">
        <div class="input-div">
            <label>Breakfast</label>
            <input th:field="*{breakfastPlace}" type="text" name="breakfastPlace" placeholder="Mekitsa&Coffee"/>
            <label>Add address</label>
            <input th:field="*{brekfastPlaceAddress}" type="text" name="breakfastPlaceAddress" placeholder="бул.Цариградско шосе, 15 1000,София"/>
            <label>Add Booking URL</label>
            <input th:field="*{breakfastPlaceUrl}" type="text" name="breakfastPlaceUrl" placeholder="https://www.booking.com"/>
            <p th:if="${#fields.hasErrors('breakfastPlace')}" th:errors="*{breakfastPlace}" class="error"></p>
            <label>Coffee</label>
            <input th:field="*{coffeePlace}" type="text" name="coffeePlace" placeholder="CoffeeBar"/>
            <label>Add address</label>
            <input th:field="*{coffeePlaceAddress}" type="text" name="coffeePlaceAddress" placeholder="бул.Цариградско шосе, 15 1000,София"/>
            <label>Add Booking URL</label>
            <input th:field="*{coffeePlaceUrl}" type="text" name="coffeePlaceUrl" placeholder="https://www.booking.com"/>
            <p th:if="${#fields.hasErrors('coffeePlace')}" th:errors="*{coffeePlace}" class="error"></p>
            <label>Hotel</label>
            <input th:field="*{hotel}" type="text" name="hotel" placeholder="Grand Hotel Sofia"/>
            <label>Add address</label>
            <input th:field="*{hotelAddress}" type="text" name="hotelAddress" placeholder="бул.Цариградско шосе, 15 1000,София"/>
            <label>Add Booking URL</label>
            <input th:field="*{hotelUrl}" type="text" name="hotelUrl" placeholder="https://www.booking.com" />
            <p th:if="${#fields.hasErrors('hotel')}" th:errors="*{hotel}" class="error"></p>
            <label>Dinner</label>
            <input th:field="*{dinnerPlace}" type="text" name="dinnerPlace" placeholder="Blue House" />
            <label>Add address</label>
            <input th:field="*{dinnerPlaceAddress}" type="text" name="dinnerPlaceAddress" placeholder="бул.Цариградско шосе, 15 1000,София"/>
            <label>Add Booking URL</label>
            <input th:field="*{dinnerPlaceUrl}" type="text" name="dinnerPlaceUrl" placeholder="https://www.booking.com"/>
            <p th:if="${#fields.hasErrors('dinnerPlace')}" th:errors="*{dinnerPlace}" class="error"></p>
        </div>
        <button type="submit" name="update-day" class="btn" value="update-day">Update</button>
    </fieldset>
        </div>
    </form>
</main>
<footer th:replace="/fragments/fragment :: footer">
</footer>
</body>
</html>